extends layout 
block content 

    h1= title 

    p
        strong PartNumber:
        | #{partNumber}

    p 
        strong Oem:
        | #{oem}

    p 
        strong Quantity: 
        | #{quantity} 